body{
    background-color: grey;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    border: 2px solid tomato;
}
nav{
    display: flex;
    justify-content: center;
    background-color: aqua;
    border: 2px solid tomato;
}

main{
    display: flex;
    justify-content: center;
    gap:10px;    
    border: 2px solid tomato;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 3px;
    background-color: aqua;
}

